body{
  margin: 0%;
  padding: 0%;
  background-image: url(./images/wallpapaer1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.stripe{
  width: 100px;
  height: 100vh;
  display: flex;
  position: absolute;
}

#stripe1{
  background: linear-gradient( to bottom, rgb(50, 50, 50), rgba(0,0,0,.1));
  margin-left: 66.98%;
  opacity: .5;
}

#stripe2{
  background: linear-gradient( to bottom, rgb(30, 30, 30), rgba(0,0,0,.1));
  margin-left: 73.5%;
  opacity: .6;
}

#stripe3{
  background: linear-gradient( to bottom, rgb(0,0,0), rgba(0,0,0,.1));
  margin-left: 80%;
  opacity: .7;
}

.invisible{
  opacity: 0;
}

.dot{
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;

}

#blk-dt{
  background-color: black;
  margin-left: 1500px;
  margin-top: 350px;
  border: 1px solid rgb(255, 255, 255) ;
}

#gry-dt{
  background-color: rgb(126, 126, 126);
  margin-left: 1500px;
  margin-top: 375px;
  border: 1px solid rgb(15, 15, 15) ;
}

#wht-dt{
  background-color: white;
  margin-left: 1500px;
  margin-top: 400px;
  border: 1px solid rgb(109, 109, 109) ;
}

.para{
  position: absolute;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 520px;
  margin-left: 73px;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}



.btn{
  background: transparent;
  border: 3px solid white;
  width: 20%;
  height: 20%;
}

.btn-wrd{
  color: whitesmoke;
}