body{
  margin: 0%;
  padding: 0%;
  background-image: url(./images/wallpapaer1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.stripe{
  width: 100px;
  height: 100vh;
  display: flex;
  position: absolute;
}

#stripe1{
  background: linear-gradient( to bottom, rgb(50, 50, 50), rgba(0,0,0,.1));
  margin-left: 65%;
  opacity: .5;
}

#stripe2{
  background: linear-gradient( to bottom, rgb(30, 30, 30), rgba(0,0,0,.1));
  margin-left: 71.5%;
  opacity: .6;
}

#stripe3{
  background: linear-gradient( to bottom, rgb(0,0,0), rgba(0,0,0,.1));
  margin-left: 78%;
  opacity: .7;
}

.invisible{
  opacity: 0;
}
